<!DOCTYPE html>
<html>
    <head>
        <title>Globant Bootcamp | Template Engines | Ignacio Zanotti</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		<!-- STYLESHEET -->
		<style>
			.pr { 
				margin-left: 25px;			
			}

			.wexp{

				padding-bottom: 18px;
			}
		
			#handlebar
			{
				background-color: orange;
				width: 40%;
				margin: 0 auto;
				padding: 2%;
			}
			
			#underscore
			{
				background-color: lightblue;
				width: 40%;
				margin: 0 auto;
				padding: 2%;
			}
			
			#dust
			{
				background-color: peru;
				width: 40%;
				margin: 0 auto;
				padding: 2%;
			}
			
			h1, h2
			{
				text-align: center;
			}
			
			h3, h4
			{
				margin-left: 25px;
			}
			
		</style>
		
		<!-- libraries -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="scripts/libs/handlebars.js"></script>
		<script type="text/javascript" src="scripts/libs/underscore.js"></script>
        <script type="text/javascript" src="scripts/libs/dust.js"></script>
		
		<!-- handlebar template -->		
			<script id="HBtemplate" type="text/x-handlebars-template">
			{{#profiles}}<h3>{{name}}</h3>
			<h4><i>{{actual_job}}</i></h4>
			<div class="pr"><b>Age:</b> {{age}}<br/><b>City:</b> {{city}}<br/>
			<b>Education:</b> {{education}}<br/>
			<b>Work experience:</b>
			<ul class="wexp">{{#work_experience}}<li> <u>{{company}}</u><br/> {{position}} <i>[{{period}}]</i></li>{{/work_experience}}</ul></div>
			{{/profiles}}
		</script>
		
		
		<!-- DOCUMENT READY  -->
		<script>
		$( document ).ready(function() {
		
			//handlebar
			var source   = $("#HBtemplate").html();
			var template = Handlebars.compile(source);
			
			//underscore
			
			var compiled = _.template('<% for(var i=0; i<profiles.length;i++){ %>'+
										'<% var profile = profiles[i]; %>'+
										'<h3><%= profile.name%></h3><h4><i><%= profile.actual_job%></i></h4>'+
										'<div class="pr"><b>Age:</b> <%= profile.age%><br/><b>City:</b> <%= profile.city%><br/>'+
										'<b>Education:</b> <%= profile.education%><br/>'+
										'<b>Work experience:</b>'+
										'<ul class="wexp"><% for(var j=0; j<profile.work_experience.length;j++){ %>'+
										'<% var work = profile.work_experience[j]; %>'+
										'<li> <u><%= work.company%></u><br/><%= work.position%> <i>[<%= work.period%>]</i></li>'+
										'<% }%></ul></div>'+ 
										'<% }%>');
										
										
			//dust	  
			  var compiledD = dust.compile('{#profiles}<h3>{name}</h3><h4><i>{actual_job}</i></h4><div class="pr"><b>Age: </b>{age}<br/><b>City: </b>{city}<br/><b>Education: </b>{education}<br/><b>Work Experience: </b><ul class="wexp">{#work_experience}<li><u>{company}</u></br>{position}<i> [{period}]</i></li>{/work_experience}</ul></div>{/profiles}', "Dtemplate");
			  dust.loadSource(compiledD);
			
			
			//getting the json file
			  $.getJSON('json/profiles.json', function(data)
			  { 
				//handlebar
				$("#handlebar").html(template(data));
				
				//underscore
				$("#underscore").html(compiled(data));
				
				//dust
				dust.render("Dtemplate", data, function(err, out) {
					$('#dust').html(out);
				});
				
			  }); 

			
		}); 
		</script>
		
		
    </head>
    <body>
		<header><h1>Globant Bootcamp | Template Engines | Ignacio Zanotti</h1></header>
		<h2>Handlebar</h2>
		<div id="handlebar">
		</div>
		<h2>Underscore</h2>
		<div id="underscore">
		</div>
		<h2>Dust</h2>
		<div id="dust">
		</div>    
    </body>
</html>
